div.results-section {
    background: #ffffff;
    flex-basis: 80%;
    position: relative;
    display: block;
    padding: 20px;
    margin: 10px;
    box-shadow: 2px 2px 5px var(--secondary-outline);
    height: 100%;
    overflow-y: scroll;
    div.sort-bar {
        border-bottom: 1px solid var(--secondary-outline);
        padding: 20px 0 10px 0;
        label {
            font-weight: 600;
        }
        span {
            margin: 10px;
        }
        span.sort-control {
            cursor: pointer;
            transition: all 0.2s;
            &:hover {
                color: var(--primary);
            }
        }
        span.sort-control.active {
            color: var(--primary);
            border-bottom: 1px solid var(--primary);
        }
    }
    div.result-list {
        display: flex;
        position: relative;
        width: 100%;
        flex-wrap: wrap;
    }
    @media screen and (max-width: 876px) {
    }

}