span.button {
    padding: 5px;
    margin-left: 10px; 
    margin-right: 10px; 
    position: relative;
    transition: all 0.2s;
    &::after {
        content: '';
        height: 2px;
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        background: var(--primary-highlight);
        transition: all 0.2s;
    }
    &:hover {
        color: var(--primary-highlight);
        &:after {
            width: 100%;
        }
    }
}