div.cardItem {
    h3 {
        width: 50%;
        margin-bottom: 10px;
        font-weight: 400;
    }
    div.cardDetails {
        font-weight: 200;
        font-size: 20px;
    }
    span.deleteItem, span.editItem {
        font-size: 12px;
        font-weight: 400;
        cursor: pointer;
        text-transform: uppercase;
        &:hover {
            color: var(--primary);
            text-decoration: underline;
        }
    }
    span.deleteItem {
        float: right;
    }
    span.editItem {
        float: right;
    }
}