div.row {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    
    div.inputField {
        position: relative;
        flex-basis: 50%;
        padding: 10px;
        label {
            margin-right: 10px;
        }
        input, select, option, button {
            position: relative;
            padding: 10px 20px 10px 20px;
            font-size: 1em;
        }
        input {
            width: 100%;
        }
        input[type='number'] {
            width: 80px;
        }
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: relative;
        }
        button {
            text-transform: uppercase;
            font-weight: 600;
            position: relative;
        }
        button.nobackground {
            background: none;
            border: none;
            
            &:hover {
                color: var(--primary);
            }
        }
        button.primary {
            background: var(--primary);
            color: var(--primary-text);
            &:hover {
                color: var(--primary-highlight);
            }
        }
        p.errorDialog {
            font-size: 0.8em;
            position: absolute;
            bottom: -5px;
            left: 30px;
            color: red;
            opacity: 0.5;
        }
        span[class^="icon-"] {
            position: absolute;
            right: 10px;
            top: 20px;
        }
    }
    div.dateField {
        padding-left: 20px;
    }
    @media screen and (max-width: 876px) {
        display: block;
    }
}