div.productitem-preview {
    height: 60px;
    width: 60px;
    position: relative;
    background-size: contain;
    border: 1px solid var(--secondary-outline); 
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    &::before {
        content: attr(data-count) "x";
        position: absolute;
        right: 70px;
        top: 20px;
    }
}