div.search-page-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    text-align: left;
    overflow: hidden;
    background: var(--secondary-outline);
    
    @media screen and (max-width: 876px) {
        display: block;        
        height: auto;
    }
}