nav.pageHeader {
    width: 100vw;
    text-align: center;
    position: relative;
    padding: 20px;
    box-shadow: 0 2px 5px var(--primary-shadow);
    background: var(--primary);
    color: var(--primary-text);
}