div.product-item {
    width: 300px;
    margin-right: 10px;
    margin-bottom: 40px;
    transition: all 0.2s;
    cursor: pointer;
    div.image-container {
        position: relative;
        width: 200px;
        height: 300px;
        margin: 0 auto;
        text-align: center;
    }
    img {
        width: 100%;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all 0.2s;
    }
    p > span {
        margin-right: 10px;
        &.price-final {
            font-weight: 600;
        }
        &.price-mrp {
            opacity: 0.5;
            text-decoration: line-through;
        }
        &.price-discount {
            color: green;
        }
    }
    div.rating-row {
        margin-top: 10px;
        margin-bottom: 10px;
        span.rating-badge {
            padding: 5px;
            background: green;
            border-radius: 3px;
            color: #ffffff;
            text-align: center;
        }
        span.color-display-bubble {
            display: inline-table;
            vertical-align: middle;
            height: 1em;
            width: 1em;
            margin-right: 10px;
            border-radius: 50%;
        }
        label {
            display: none;
        }
    }
    &:hover {
        p.product-title {
            color: var(--primary);
        }
        img {
            transform: scale(1.1);
        }
    }
    @media screen and (max-width: 876px) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        margin-top: 10px;
        div.image-container {
            flex-basis: 20%;
            height: auto;
        }
        div.product-desc {
            padding-left: 10px;
            flex-basis: 80%;
        }
    }
}

div.product-item.shimmer {
    div.image-container {
        text-align: center;
        img {
            height: auto;
            width: 50%;
        }
    }
    div.rating-row, p.product-title, span[class^='price'] {
        height: 0.8em;
        // background: var(--secondary-outline);
        animation : shimmer 2s infinite;
        background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
        background-size: 1000px 100%;
    }

    .rating-row { width: 80%; }
    .product-title { width: 60%; }
    span[class^='price'] { width: 50px; display: inline-table;}
}


@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}