// defines the color palette for pages

:root {
    --primary: #2874f0;
    --primary-text: #ffffff;
    --primary-highlight: rgba(249,224,76, 1);
    --primary-shadow: #5e5e8e;
    --primary-underline: coral;
    --secondary: #172337;
    --secondary-text: #ffffff;
    --secondary-highlight: rgba(249,224,76, 1);
    --secondary-outline: #dfdfdf;
    --secondary-underline: aliceblue;
}