// Resets the default style for input and link elements
* {
    padding: 0;
    margin: 0;
    outline: none;
}
a, a:visited {
    color: inherit;
    text-decoration: none;
}
ul, dl, ol {
    list-style: none;
}